* {
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

.scroll-down header .topbar {
    transform: translate3d(0, -100%, 0);
}

.scroll-up header .topbar {
    filter: drop-shadow(0 -20px 20px rgb(170, 170, 170));
}

.topbar {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0;
    background-color: #051234;
    z-index: 1000;
    top: 0;
    left: 0;
    transition: all 300ms ease-in-out;
}

.div_accueil {
    display: flex;
    background-color: #051234;
    width: 100px;
    justify-content: center;
    align-items: center;
}

.nav-links {
    position: absolute;
    background-color: #051234;
    right: 0px;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
}

.navlink {
    position: relative;
    font-family: 'Baloo Tammudu 2', cursive;
    white-space: nowrap;
    text-transform: uppercase;
    width: 200px;
    height: 40px;
    font-size: 20px;
    font-weight: normal;
    padding-top: 10px;
    padding-bottom: 43px;
    text-align: center;
    color: #E5F9FF;
}

.navlink:hover {
    letter-spacing: 0.2rem;
    transition: 0.5s all ease-in-out;
}

.navlink:before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    border: 2px solid transparent;
}

.navlink:hover:before {
    animation: hover 0.5s linear forwards;
}

@keyframes hover {
    0% {
        width: 0;
        height: 0;
        border-top-color: #E5F9FF;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    50% {
        width: 100%;
        height: 0;
        border-top-color: #E5F9FF;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    100% {
        width: 100%;
        height: 100%;
        border-top-color: #E5F9FF;
        border-right-color: #E5F9FF;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
}

.navlink:after {
    content: "";
    position: absolute;
    bottom: -2px;
    right: -2px;
    border: 2px solid transparent;
}

.navlink:hover:after {
    animation: hover2 0.5s linear forwards;
}

@keyframes hover2 {
    0% {
        width: 0;
        height: 0;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: #E5F9FF;
        border-left-color: transparent;
    }
    50% {
        width: 100%;
        height: 0%;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: #E5F9FF;
        border-left-color: transparent;
    }
    100% {
        width: 100%;
        height: 100%;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: #E5F9FF;
        border-left-color: #E5F9FF;
    }
}

.nav-active {
    transform: translateX(0%);
}

.burger-menu {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    cursor: pointer;
    position: absolute;
    display: block;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 4px;
    background-color: #E5F9FF;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: rotate(45deg) translate(-8px, -8px);
}

#Home {
    width: 100%;
    height: 100vh;
    display: block;
    background-image: url("./IMG/IMG2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.page_de_garde {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 300px;
    top: auto;
    bottom: 40vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#Home svg 
{
    position: absolute;
    bottom: 5vh;
    left: 45vw;
    animation: spring 2s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

@keyframes spring { 
    0% {
      transform: scale(1) translateY(0); 
    }
    10% {
      transform: scale(1.2, 0.6); 
    }
    30% { 
      transform: scale(0.8, 1.1) translateY(-10px); 
    }
    50% { 
      transform: scale(1) translateY(0); 
    }
    100% { 
      transform: translateY(0); 
    }
  }

h1 {
    font-family: 'Libre Baskerville', serif;
    letter-spacing: 3px;
    color: #E5F9FF;
    font-size: 28px;
    line-height: normal;
    animation: Bug 1s linear infinite;
}

.port {
    text-align: center;
}

.nom {
    text-align: center;
}

.lightSpeedIn {
    animation: SlideGauche 1s ease-out both 1;
}

@keyframes SlideGauche {
    0% {
        transform: translate3d(100%, 0, 0) skewX(-30deg);
        opacity: 0;
    }
    60% {
        transform: skewX(20deg);
        opacity: 1;
    }
    80% {
        transform: skewX(-5deg);
        opacity: 1;
    }
    100% {
        transform: none;
        opacity: 1;
    }
}

@keyframes Bug {
    20%, 80% {
        transform: translate(2px, 0) skew(0deg);
    }
    40%, 60% {
        transform: translate(-2px, 0) skew(0deg);
    }
    70% {
        transform: translate(0, 0) skew(5deg);
    }
}

h1:before {
    content: attr(title);
    position: absolute;
    left: auto;
}

h1:after {
    content: attr(title);
    position: absolute;
    left: 0;
    right: 0;
}

h1:before {
    animation: BugHaut 1s linear infinite;
    clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes BugHaut {
    2%, 64% {
        transform: translate(2px, -2px);
    }
    4%, 60% {
        transform: translate(-2px, 2px);
    }
    62% {
        transform: translate(13px, -1px) skew(-13deg);
    }
}

h1:after {
    animation: BugBas 1.5s linear infinite;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes BugBas {
    2%, 64% {
        transform: translate(-2px, 0);
    }
    4%, 60% {
        transform: translate(-2px, 0);
    }
    62% {
        transform: translate(-22px, 5px) skew(210deg);
    }
}

#A_propos {
    width: 100%;
    display: block;
    background-color: #151E3F;
}

.left_contacts, .right_contacts {
    opacity: 0;
    height: 0;
}

.nothing #scrollElementLeft, .nothing #scrollElementRight {
    opacity: 0;
    height: 0;
}

.invisible #scrollElementLeft, .invisible #scrollElementRight {
    opacity: 0;
    height: 0;
}

.infos {
    display: flex;
    width: 100%;
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 20vh;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.infos h3 
{
    font-family: 'Baloo Tammudu 2', cursive;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 75px;
    text-align: center;
    text-decoration-line: underline;
    color: #E5F9FF;
}

.infos li
{
    font-family: 'Baloo Tammudu 2', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 67px;
    color: #E5F9FF;
}

.infos .reveal {
    opacity: 0;
}

.infos .reveal-visible {
    opacity: 1;
    transition: 1.5s cubic-bezier(0.5, 0, 0, 1);
}

.presentation {
    font-family: 'Baloo Tammudu 2', cursive;
    font-size: 19.5px;
    color: #E5F9FF;
    line-height: 35px;
}

.presentation p {
    margin-top: 22px;
}

.C_V {
    position: absolute;
    font-family: 'Baloo Tammudu 2', cursive;
    font-size: 17px;
    color: #E5F9FF;
    border: 1px solid #E5F9FF;
    padding-top: 8px;
    padding-right: 10px;
    padding-left: 10px;
}

.C_V:hover {
    background: linear-gradient(70deg, #0f4996, rgb(20, 141, 189));
}

.competences {
    position: relative;
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.competences .skills
{
    display: flex;
    width: 260px;
    flex-direction: row;
    justify-content: space-between;
}

.outils 
{
    margin: 50px 0;
}

.outils ul 
{
    text-align: center;
}


#Mes_projets {
    width: 100%;
    display: block;
    background-color: #151E3F;
}

.projects {
    display: flex;
    width: 100%;
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 20vh;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.projects span {
    font-family: 'Baloo Tammudu 2', cursive;
    font-size: 19.5px;
    color: #E5F9FF;
    text-align: center;
}

.all_projects {
    position: relative;
    display: flex;
    width: 100%;
    padding-top: 15vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 6;
}

.box {
    position: relative;
    width: 200px;
    height: 250px;
    margin-bottom: 70px;
    background: linear-gradient(0deg, #141415, #272727);
}

.projects .all_projects .box:before, .box:after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg, #00f7ff, #0000ff, #1f60d8, #120586, #E5F9FF, #00f7ff, #0000ff, #1f60d8, #120586, #E5F9FF);
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: bordure 20s linear infinite;
}

@keyframes bordure {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.box:after {
    filter: blur(50px);
}

.projects .all_projects .box h3 {
    padding-top: 2vh;
    text-align: center;
    font-family: 'Baloo Tammudu 2', cursive;
    text-decoration: underline;
    color: #E5F9FF;
    line-height: 30px;
}

.projects .all_projects .box p {
    padding-top: 1vh;
    font-family: 'Baloo Tammudu 2', cursive;
    font-size: 15px;
    color: #E5F9FF;
    line-height: 25px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 20px;
    text-align: center;
}

.projects .all_projects .box .snd_p {
    margin-bottom: 10px;
}

.projects .all_projects .box:last-child p {
    margin-bottom: 40px;
}

.projects .all_projects .box a {
    font-family: 'Baloo Tammudu 2', cursive;
    font-size: 15px;
    color: #E5F9FF;
    line-height: 25px;
    border: 1px solid #E5F9FF;
    padding-top: 8px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 24%;
}

.projects .all_projects .box a:hover {
    background: linear-gradient(70deg, #0f4996, rgb(20, 141, 189));
}

.projects .all_projects .box .reveal {
    opacity: 0;
}

.projects .all_projects .box .reveal-visible {
    opacity: 1;
    transition: 1.5s cubic-bezier(0.5, 0, 0, 1);
}

#Contact {
    width: 100%;
    display: block;
    background: #151E3F;
}

.contact_box {
    display: flex;
    width: 100%;
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 15vh;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    font-family: 'Baloo Tammudu 2', cursive;
    font-size: 19.5px;
    color: #E5F9FF;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 55vh;
    width: 100%;
}

.wrapper .input-data {
    height: 40px;
    width: 100%;
    position: relative;
}

.wrapper .input-data input, textarea {
    height: 100%;
    width: 100%;
    border: none;
    font-size: 15px;
    border-bottom: 2px solid #E5F9FF;
    background: transparent;
    color: #E5F9FF;
}

.wrapper .msg {
    height: 20vh;
}

textarea {
    min-height: 20vh;
    padding-top: 6px;
}

.input-data input:focus~label, .input-data textarea:focus~label, .input-data textarea:valid~label, .input-data input:valid~label {
    transform: translateY(-20px);
    transition: transform 0.4s ease;
    font-size: 14px;
    color: #4bbef0;
}

.wrapper .input-data label {
    position: absolute;
    color: #E5F9FF;
    left: 0;
    font-size: 17px;
    pointer-events: none;
}

.wrapper .input-data .underline {
    position: absolute;
    bottom: 0px;
    height: 2px;
    width: 100%;
}

.input-data .underline:before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: linear-gradient(70deg, #0ea7bb, rgb(20, 141, 189));
    ;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.input-data input:focus~.underline:before, .input-data textarea:focus~.underline:before, .input-data textarea:valid~.underline:before, .input-data input:valid~.underline:before {
    transform: scaleX(1);
}

input:focus-visible {
    outline: none;
}

textarea:focus-visible {
    outline: none;
}

.submit-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 54px;
    margin-top: 30px;
    margin-left: auto;
    font-size: 14px;
    font-weight: 700;
    color: #E5F9FF;
    text-transform: uppercase;
    letter-spacing: 1.44px;
    box-shadow: 0px 16px 35px 0 rgba(0, 0, 0, 0.25);
    background: linear-gradient(to right bottom, #151E3F, #151E3F);
    outline: none;
    border: solid 2px #E5F9FF;
    border-radius: 0.5rem;
    overflow: hidden;
    cursor: pointer;
}

.en_cours {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: inherit;
    opacity: 0;
    visibility: hidden;
}

@keyframes pending-circle {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.en_cours:before {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 1.6rem;
    content: '☼';
}

.en_cours:after {
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    content: '';
    transform: scaleX(0);
    transform-origin: left center;
    background: linear-gradient(to right bottom, #0f4996, rgb(20, 141, 189));
    background-size: 100%;
}

.en_cours.button-active {
    transition-property: all;
    transition-duration: 0.1s;
    transition-timing-function: linear;
    transition-delay: 0.3s;
    opacity: 1;
    visibility: visible;
}

.en_cours.button-active:before {
    animation: pending-circle 1s infinite;
}

.en_cours.button-active:after {
    transition-property: all;
    transition-duration: 1.7s;
    transition-timing-function: cubic-bezier(0, 0, 0.97, 0.13);
    transition-delay: 0.1s;
    transform: scaleX(1);
}

.text_submit.button-active {
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: linear;
    transition-delay: 0s;
    opacity: 0;
    visibility: hidden;
}

.finito {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: inherit;
    opacity: 0;
    visibility: hidden;
}

.finito:before {
    margin-right: 10px;
    font-family: "Font Awesome 5 Free";
    font-size: 1.4rem;
    content: '√';
    transform: translate(-10px, -2px);
}

.finito span {
    transform: translateX(10px);
}

.finito.button-active {
    transition: opacity .1s linear 2.1s;
    opacity: 1;
    visibility: visible;
}

.finito.button-active:before {
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-delay: 2.15s;
    transform: translate(0, -2px);
}

.finito.button-active span {
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-delay: 2.15s;
    transform: translateX(0);
}

.reseaux
{
    display: block;
    width: 100%;
    margin-top: 70px;
}

.contact_method
{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    height: 300px;
    padding-top: 50px;
    margin-bottom: 50px;
}

.contact_method a
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 45px;
}

.contact_method span {
    margin-left: 20px;
}

a:-webkit-any-link {
    color: #E5F9FF;
}



/* RESPONSIVE */

@media screen and (min-width: 768px) {
    #navbar svg {
        width: 60px;
        height: 60px;
    }
    .topbar {
        padding: 25px 10px;
    }
    .div_accueil {
        width: 18vw;
    }
    .burger-menu {
        width: 18vw;
    }
    .bar1, .bar2, .bar3 {
        width: 45px;
        height: 5px;
    }
    .navlink {
        font-size: 2.2em;
    }
    #Home svg {
        width: 60px;
        height: 60px;
        left: 46vw;
    }
    h1 {
        font-size: 4em;
        line-height: 100px;
    }
    .infos {
        padding-left: 15%;
        padding-right: 15%;
    }
    .presentation {
        font-size: 1.9em;
        letter-spacing: 0.02em;
        line-height: 1.2em;
    }
    .presentation a {
        font-size: 0.75em;
        margin-top: 6px;
        line-height: 40px;
    }
    .presentation p {
        margin-top: 40px;
    }
    .competences {
        margin-top: 100px;
    }
    .competences .skills {
        width: 400px;
    }
    .infos h3 {
        font-size: 2.3em;
        letter-spacing: 0.02em;
        margin-bottom: 20px;
    }
    .infos li {
        font-size: 1.9em;
        line-height: 75px;
    }
    .outils {
        margin: 80px 0;
    }
    .projects {
        padding-left: 10%;
        padding-right: 10%;
    }
    .projects span {
        font-size: 1.9em;
        letter-spacing: 0.02em;
    }
    .all_projects {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .box{
        width: 250px;
        height: 300px;
        margin-bottom: 110px;
    }
    .box h3 {
        font-size: 1.5em;
    }
    .projects .all_projects .box p {
        font-size: 1.2em;
        line-height: 30px;
        margin-bottom: 30px;
    }
    .projects .all_projects .box a {
        margin-left: 30%;
    }
    .projects .all_projects .box .snd_p {
        margin-bottom: 30px;
    }
    .contact_box {
        padding-left: 15%;
        padding-right: 15%;
    }
     .wrapper {
        height: 50vh;
    }
    .wrapper span {
        font-size: 1.7em;
        letter-spacing: 0.02em;
    }
    .wrapper .input-data label
    {
        font-size: 1.2em;
    }
    .input-data input:focus~label, .input-data textarea:focus~label, .input-data textarea:valid~label, .input-data input:valid~label {
        font-size: 1.2em;
    }
    .wrapper .input-data input, textarea {
        font-size: 1.3em;
    } 
    .input-data input:focus~label, .input-data textarea:focus~label, .input-data textarea:valid~label, .input-data input:valid~label {
        transform: translateY(-40px);
    }
    .submit-button {
        font-size: 1.1em;
        letter-spacing: 3px;
    }
    .reseaux {
        margin-top: 100px;
    }
    .reseaux span {
        font-size: 1.7em;
    }
    .reseaux svg {
        width: 60px;
        height: 60px;
    }
    .contact_method {
        height: 420px;
    }
    .contact_method span {
        margin-left: 40px;
    }
}

@media screen and (min-width: 992px) {
    #navbar svg {
        width: 45px;
        height: 45px;
    }
    #navbar .div_accueil a:hover svg path {
        fill: #4bbef0;
    }
    .div_accueil {
        width: 10vw;
        border-right: 2px solid #E5F9FF;
    }
    #Home a:hover svg path {
        fill: #4bbef0;
    }
    .container {
        display: none;
    }
    .nav-links {
        position: relative;
        right: auto;
        height: auto;
        top: auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        transform: none;
        padding-left: 20px;
    }
    .nav-active {
        transform: none;
    }
    .navlink {
        font-size: 18px;
        text-transform: none;
        width: 150px;
        padding-top: 4px;
        padding-bottom: 0;
    }
    h1 {
        line-height: 85px;
    }
    .page_de_garde {
        bottom: 20vh;
        padding-left: 45%;
    }
    .port {
        text-align: unset;
    }
    .nom {
        text-align: unset;
    }
    #Home svg {
        width: 50px;
        height: 50px;
        left: 48vw;
    }
    .nothing #scrollElementLeft, .nothing #scrollElementRight {
        transform: translate3d(0, 100%, 0);
        opacity: 0;
        height: unset;
    }
    .apparition #scrollElementLeft, .apparition #scrollElementRight {
        opacity: 1;
        height: unset;
    }
    .invisible #scrollElementLeft, .invisible #scrollElementRight {
        transform: translate3d(0, 100%, 0);
        opacity: 0;
        height: unset;
    }
    .left_contacts {
        display: block;
        position: fixed;
        width: 50px;
        bottom: 0px;
        left: 40px;
        right: auto;
        z-index: 1000;
        opacity: 1;
        transition: all 300ms ease-in-out;
        height: unset;
    }
    .left_contacts ul, .side_mail {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .left_contacts ul::after, .side_mail::after {
        content: "";
        display: block;
        width: 2px;
        height: 100px;
        margin: 0px auto;
        background-color: #E5F9FF;
    }
    .left_contacts ul li a {
        padding: 10px;
        display: inline-block;
    }
    .left_contacts ul li a svg {
        width: 25px;
        height: 25px;
    }
    .left_contacts ul li a:hover svg path {
        fill: #4bbef0;
    }
    .right_contacts {
        display: block;
        position: fixed;
        width: 50px;
        bottom: 0px;
        right: 40px;
        left: auto;
        z-index: 1000;
        opacity: 1;
        transition: all 300ms ease-in-out;
        height: unset;
    }
    .right_contacts .side_mail a {
        writing-mode: vertical-rl;
        margin: 10px auto;
        color: #E5F9FF;
    }
    .right_contacts .side_mail a:hover {
        color: #4bbef0;
    }
    .infos {
        padding-left: 20%;
        padding-right: 20%;
    }
    .infos li {
        font-size: 1.6em;
    }
    .presentation {
        font-size: 1.6em;
        line-height: 1.5em;
    }
    .projects {
        padding-right: 10%;
        padding-left: 10%;
    }
    .projects span {
        font-size: 1.6em;
    }
    .box {
        margin-bottom: 70px;
    }
    .projects .all_projects .box:last-child p {
        margin-bottom: 60px;
    }
    .contact_box {
        padding: 15vh 25%;
    }
    .wrapper {
        height: 60vh;
    }
    .submit-button:hover {
        background: linear-gradient(to right bottom, #0f4996, rgb(20, 141, 189));
    }
    .reseaux {
        display: none;
    }
}

@media screen and (min-width: 1440px) {
    .div_accueil {
        width: 8vw;
        padding-right: 10px;
    }
    .nav-links {
        padding-left: 10px;
    }
    .left_contacts {
        left: 85px;
    }
    .right_contacts {
        right: 85px;
    }
    .comp_outils {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .competences, .outils {
        margin: 100px 0;
    }
    .projects {
        padding: 15vh 20%;
    }
    .contact_box {
        padding: 15vh 30%;
    }
    .wrapper {
        height: 65vh;
    }
}

@media screen and (min-width: 1900px) {
    h1 {
        font-size: 5em;
    }
    #navbar svg {
        width: 55px;
        height: 55px;
    }
    .navlink {
        font-size: 1.3em;
    }
    .infos {
        padding-left: 25%;
        padding-right: 25%;
    }
    .left_contacts {
        left: 100px;
    }
    .right_contacts {
        right: 100px;
    }
    .projects {
        padding: 15vh 25%;
    }
    .contact_box {
        padding: 15vh 33%;
    }
}